<div class="col col-edit">
    <div class="row py-3">
        <p>Title</p>
        <textarea class="form-control" id="title-input-edit" rows="1"
            aria-label="With textarea"><%= note.title %></textarea>
    </div>
    <%for(var i=0;i < note.list_content.length;i++){ %>
    <div class="row list-items-row-edit">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Add Item" aria-label="Add Item"
                aria-describedby="basic-addon2" value="<%= note.list_content[i] %>">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-item-btn-edit" type="button">Add
                    Item</button>
            </div>
        </div>
    </div>
    <% }%>
</div>