<!-- views/partials/header.ejs -->

<nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">Note app</a>
    <button type="button" class="btn" data-toggle="modal" data-target="#noteModal">
        add a note
    </button>
</nav>



<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add a Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Modal Body -->
                <div class="input-group">
                    <div class="col modal-col-test">
                        <div class="row py-3">
                            <p>Title</p>
                            <textarea class="form-control" id="title-input" rows="1" aria-label="With textarea"></textarea>
                        </div>
                        <div class="row list-items-row">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Add Item" aria-label="Add Item"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary add-item-btn" type="button">Add
                                        Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/note/add" method="POST">
                    <input type="submit" class="btn btn-primary" value="Save Note">
                    <input type="hidden" class="note-list" name="notes"> 
                    <input type="hidden" class="title-form" name="title">
                </form>
            </div>
        </div>
    </div>
</div>