<!-- views/partials/header.ejs -->

<!-- old nav -->
<!-- <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">Note app</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button type="button" class="btn" data-toggle="modal" data-target="#noteModal">
                Add a note
            </button>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/account/">
                <button type="button" class="btn">
                    Account
                </button>
            </a>
        </li>
    </ul>
</nav> -->




<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Note App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="<%= typeof user == 'undefined' ? '/' : '/home'%>">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <% if(typeof user != 'undefined') {%>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-light  mx-0 mx-md-2" data-toggle="modal"
                    data-target="#noteModal">
                    Add a note
                </button>
            </li>
            <% } %>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Dropdown
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/account">
                    Account
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
    </div>
</nav>
<!--/.Navbar -->



<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add a Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Modal Body -->
                <div class="input-group">
                    <div class="col modal-col-test">
                        <div class="row py-3">
                            <p>Title</p>
                            <textarea class="form-control" id="title-input" rows="1"
                                aria-label="With textarea"></textarea>
                        </div>
                        <div class="row list-items-row">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Add Item" aria-label="Add Item"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary add-item-btn" type="button">Add
                                        Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/note/add" method="POST">
                    <input type="submit" class="btn btn-primary" value="Save Note">
                    <input type="hidden" id="note-list" name="notes">
                    <input type="hidden" id="title-form" name="title">
                </form>
            </div>
        </div>
    </div>
</div>