<div class="col col-md-6 col-lg-4 py-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <% if (note) { %>
                <%= note.title %>
                <% } %>
            </h5>
            <ul>
                <%for(var i=0;i < note.list_content.length;i++){ %>
                    <li>
                            <%= note.list_content[i] %>
                    </li>
                <% }%>
            </ul>

        </div>
    </div>
</div>