<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div class="container">
        <h1>About The app</h1>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="/js/editNote.js"></script>

</body>

</html>