<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div class="container">
        <h1>Edit List</h1>
        <%- include('../partials/edit', { note, }); %>

        <div class="row justify-content-around">
            <form action="/note/edit/<%= note._id%>" method="post" class="col">
                <div class="row-12 py3 ">
                    <label class="pr-2" for="public">Public: </label>
                    <input name="public" <% if( note.public) { %> checked <% }%> id="pubCheck" type="checkbox" data-toggle="toggle" data-size="sm">
                </div>
                <div class="row justify-content-around">
                    <div class="col" style="display: flex; ">
                        <a href="/" class="btn btn-outline-danger" style="display: flex;">Discard Changes</a>
                    </div>
                    <div class="col" style="display: flex; justify-content: flex-end;">
                        <button class="btn btn-outline-info btn-edit-save" style="display: flex;" type="submit">
                            Save Changes
                        </button>
                    </div>
                </div>

                <input type="hidden" id="note-list-edit" name="notes">
                <input type="hidden" id="title-form-edit" name="title">
            </form>

        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="/js/editNote.js"></script>

</body>

</html>