<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <div class="container">
        <h1>Welcome <%= name %> </h1>
        <p class="lead mb-3">Welcome user </p>
        <a href="/account/logout" class="btn btn-secondary">Logout</a>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>