<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <!-- <div class="row justify-content-center align-items-center">  -->
            <%for(let i=0;i<notes.length;i++){ %>
            <%- include('../partials/note', {note: notes[i]}); %>
            <% } %>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>